@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  height: 100vh;
}
/* TOP BAR  */

.top__bar {
  margin: 0 auto;
  width: 90%;
  height: 60px;
  padding-left: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #a86840;
}

.email__phone {
  display: flex;
  align-items: center;
  width: 450px;
  justify-content: space-between;
}

.email__topbar,
.phone__topbar {
  display: flex;
  align-items: center;
}

.email__icon,
.phone__icon {
  border-right: 1.5px solid rgb(179, 163, 163);
}

.fa-envelope,
.fa-phone,
.fa-mobile {
  margin-right: 8px;
  font-size: 20px;
}

.email__list,
.phone__list {
  list-style-type: none;
  padding: 8px;
}

.email,
.phone {
  font-size: 14px;
  color: #42291a;
}
.email:hover,
.phone:hover {
  color: #9c765e;
}

/* NAVIGATION BAR  */

.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.logo__img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  padding: 0 4px;
}

.logo__img {
  height: 100%;
  transform: scale(2.1);
}

.logo__text--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: #3c291b;
}

.low__opacity {
  filter: opacity(90%);
  font-weight: 700;
  font-size: 12px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  list-style-type: none;
}

.link {
  text-decoration: none;
  font-weight: 600;
  color: #42291a;
  font-size: 16px;
  transition: all ease 200ms;
  border-bottom: 2px solid transparent;
}

.link:hover {
  color: #9b8576;
  border-bottom: 2px solid #b19e92;
}

.contact__link {
  background-color: #80593d;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  padding: 8px 24px;
  border-radius: 50px;
  transition: all ease 200ms;
}

.contact__link:hover {
  background-color: #c0a285;
}

.social__networks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 5%;
}

.fa-linkedin,
.fa-square-facebook {
  font-size: 24px;
  transition: all ease 200ms;
}

.fa-linkedin:hover,
.fa-square-facebook:hover {
  font-size: 24px;
  transform: scale(1.2);
  filter: opacity(80%);
}

/* HEADER  */

.header__description {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 8px;
  position: relative;
}

.header__wrapper {
  display: flex;
  justify-content: center;
}

.header__img {
  width: 100%;
  object-fit: cover;
  filter: opacity(75%);
}

.nosotros__btn {
  position: absolute;
  top: 95%;
  left: 6%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 8px 24px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #c9946f;
  transition: all ease 300ms;
}

.nosotros__btn:hover {
  background-color: #c9946f;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

/* FOOTER  */
footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 140px;
  padding: 0 8px;
}

.tarj__pres--wrapper {
  width: 25%;
}

.tarj__pres--img {
  width: 100%;
}

.footer__description {

  display: flex;
  width: 75%;
  background-color: transparent;
}

.footer__acerca,
.footer__ubicacion,
.footer__servicios {
  width: calc(100%/3);
  padding: 0 4px;
  height: 100%;
}



.footer__title {
  color: #835132;
  font-size: 16px;
}

.footer__section--content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  height: 80%;
  border-right: 2px solid gray;
}

.footer__para {
  font-size: 10px;
  color: #492e1e;
  padding-right: 20px;
}

.footer__social--networks {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

